
.logoWrapper {
  display: inline-block;
  line-height: 1; 
  width: 150px;
  transition: opacity $transition-duration-base $transition-timing-ease;
  @media (min-width: 768px) { 
    width: 200px; 
  }

  :global(img) {
    width: 100%;
    height: auto;
    opacity: 0.54;
    :hover {
      opacity: 1;
    }
  }
}

